
.back {
    width:auto;
	height:auto;
	background:white;
}

.maison1
{
    margin-left: 37%;

}
#maison1
{
    margin-left: 38%;
    text-decoration: white;
}
.maison2
{
    margin-left: 150px;
}
#maison2
{
    margin-left: 195px;
}

#onglets
{
    margin-left : 50%;
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;

}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;

}

#onglets li.active
{
    border-bottom: 1px solid #ffffff;
    background-color: #fff;

}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

#menu
{
    border-bottom : 1px solid #9EA0A1;
    padding-bottom: 20%;
    background: white;
    text-align: center;
}


.site
{
    border-width: 2px ;
    border-style: solid;
    padding-bottom: 0%;
    margin-right: 10%;
    /*margin-top: 1%;*/
    border-color: white;
}

.titre
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: white;

}
/*iframe*/
/*{*/
    /*padding-bottom: 0%;*/
    /*margin-bottom: 0%;*/
    /*border-bottom: 0%;*/
    /*margin-left: 0%;*/
/*}*/

.app
{
    border-width: 2px ;
    border-style: solid;
    padding-bottom: 0%;
    margin-right: 0%;
    border-color: white;

}
.app_titre
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: white;

}


#foot
{
    color : white;
    text-align: center;
    position : absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
