
section {
    margin: 14%;
}


#Moderate {

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin-right: 14%;
    margin-left: 14%;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;

}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#con {
    background: white;
    padding: 5px;
    margin-right: -32px;
    background-attachment: fixed;
}


#util {

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin-right: 14%;
    margin-left: 14%;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    height: 250px;

}

#Stats {

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin-right: 14%;
    margin-left: 14%;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;

}

