.site
{
    border-width: 2px ;
    border-style: solid;
    padding-bottom: 0%;
    margin-right: 10%;
    /*margin-top: 1%;*/
    border-color: black;
}

.titre
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: black;

}
/*iframe*/
/*{*/
/*padding-bottom: 0%;*/
/*margin-bottom: 0%;*/
/*border-bottom: 0%;*/
/*margin-left: 0%;*/
/*}*/

section{
    margin: 14%;
}



h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#con {
    background: white;
    padding: 5px;
    margin-right: -32px;
    background-attachment: fixed;
}



#User {

    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    margin-right: 14%;
    margin-left:14%;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;

}


#Moderate {

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin-right: 14%;
    margin-left: 14%;
    text-align: center;

}

