html{
    background: #FFFFFF;
    font: 1.1em sans-serif;
}



body {

    background-image: url(../Image/int3.jpg);


    background-size: 2000px;

}

#title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #d40000;
    /*position: fixed;*/
    background: white;
    margin-top: 0;
    margin-left: -40%;
    padding: 30px;
    display: block;

}

#ban{
    margin-left: -38%;
}

#bloc1{
    color: #fff;
    margin-top: 10%;
    font-size: medium;
    margin-left: 5%;
    padding-bottom: 10%;
}

#bloc1Title{
    font-size: large;
    font-weight: bold;
}

#lien1{
    color: #FFFFFF;
}

#inscription {
    margin-left: 5%;
    margin-top: 3%;
}

#bloc2Title{
    font-size: large;
    font-weight: bold;
}

#connexion {
    margin-left: 5%;
    margin-top: 3%;
}

#lien2{
    color: #FFFFFF;
}

#bloc3Title{
    font-size: large;
    font-weight: bold;
}

#ajoutmaison {
    margin-left: 5%;
    margin-top: 3%;
}

#lien3{
    color: #FFFFFF;
}

#bloc4Title{
    font-size: large;
    font-weight: bold;
}

#compte {
    margin-left: 5%;
    margin-top: 3%;
}

#lien4{
    color: #FFFFFF;
}

#lien5{
    color: #FFFFFF;
}

footer{
    width: auto;
    height: 20px;
    background: #FFF;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: -10%;
    margin-bottom: -13%;
    color: #d40000;
    font-weight: bold;
    margin-bottom: 50px;
}
