
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    height: auto;
}

h1{
    color : white;
    background-color: rgba(255,0,0,0.5);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    border-style: groove;
    border-color: white;
    text-align:center;
}

form, #votre_maison {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    text-align:center;
}


.addhouse {
    max-width: 15%;
    height: auto;
}
.deletehouse{
    max-width: 15%;
    height: auto;
}