
#lephp {
    border: 1px solid #ffffff;
    /*text-align: justify;*/
}

/*!* réduire la taille de l'écran*!*/
/*@media screen and (min-width: 1024px) {*/

/*width: 150%;00*/
/*height: 100%;*/
/*float: left;*/
/*}*/

section {
    display: flex;
    margin-left: 15px;
    margin-top: 10%;

}

#bloc_envoyertechnicien {

    margin-left: 2.8%;
    margin-top: 2%;

    color: white;
    width: 400px;
    height: 450px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    border-radius: 3px;
    background-image: url(../Image/int3.jpg);
    font-size: large;
    text-align: center;

}

#bloc_contacterconseiller {
    /*background-color: #FFFFFF;*/

    display: block;
    color: white;
    text-decoration-color: black;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    width: 400px;
    height: 450px;
    border-radius: 3px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    background-image: url(../Image/int3.jpg);
    margin-right: 15%;
    margin-top: 2%;
    text-align: center;


}

#bloc_telephone, .content, #bloc_mail, #horaires, .bloc_titre {
    color: white;
}

#bloctot {
    background: white;
    width: auto;
    height: auto;
    display: flex;
    padding-left: 11%;
    margin-top: 10%;
}

footer {
    background: white;
    padding: 5%;
    text-align: center;

}

#p1:hover,
#p1:focus {
    background: rgba(255, 255, 255, 0);
    padding: 0 3% 0 0;
    transition: all .5s 0s;

}

#p1{

}



#p2:hover,
#p2:focus {
    background: rgba(255, 255, 255, 0);
    padding: 3% 0 0 0;
    transition: all .5s 0s;

}

#p3:hover,
#p3:focus {
    background: rgba(255, 255, 255, 0);
    padding: 0 0 0 3%;
    transition: all .5s 0s;

}

#mail{
    color: #FFFFFF;
}