body{
	margin:5%;
	color:#ffffff;
	background:white;
	font:600 16px/18px 'Open Sans',sans-serif;
    background-image: url(../Image/int3.jpg);
	background-size: 100% ;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.logo{
	/*display: flex;*/
	/*margin:auto;*/
	/*max-width: 50%;*/
	/*position: center;*/
	position:relative;
	text-align: center;
	margin-bottom: 5%;
}
.enveloppe{
	width:100%;
	margin:auto;
	margin-top: 30px;
	max-width:525px;
	min-height:750px;
	position:relative;
	background:white;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px ;
	background: white;/*#c92929;*/
	color:black;
}
.login .sign-in-lo,
.login .sign-up-lo{
	top:15%;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login .sign-in,
.login .sign-up,
.forme .group .check{
	display:none;
}
.login .tab,
.forme .group .label,
.forme .group .bouton{
	text-transform:uppercase;
}
.login .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login .sign-in:checked + .tab,
.login .sign-up:checked + .tab{
	color:red;
	border-color: black;
}
.forme{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	perspective:1000px;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.forme .group{
	margin-bottom:15px;
}
.forme .group .label,
.forme .group .input,
.forme .group .bouton{
	width:100%;
	color:black;
	display:block;
}
.forme .group .input,
.forme .group .bouton{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:#F2EEEE;
}
.forme .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.forme .group .label{
	color:#aaa;
	font-size:12px;
}
.forme .group .bouton{
	background:red;
	color:white;
	font-size: medium;
	font-weight: bold;
}
.forme .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.forme .group label .icon:before,
.forme .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:white;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.forme .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	transform:scale(0) rotate(0);
}
.forme .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	transform:scale(0) rotate(0);
}
.forme .group .check:checked + label{
	color:black;
}
.forme .group .check:checked + label .icon{
	background:red;
}
.forme .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	transform:scale(1) rotate(45deg);
}
.forme .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	transform:scale(1) rotate(-45deg);
}
.login .sign-in:checked + .tab + .sign-up + .tab + .forme .sign-in-lo{
	-webkit-transform:rotate(0);
	transform:rotate(0);
}
.login .sign-up:checked + .tab + .forme .sign-up-lo{
	-webkit-transform:rotate(0);
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	/*background:rgba(255,255,255,.2);*/
}
.foot-lnk{
	text-align:center;
}
